*
{
    padding: 5px;
}
body
{
    background-color: #222831;
}
.text
{
    color: #EEEEEE;
}
a
{
    color: #EEEEEE;
    text-decoration: none;
}
a:hover
{
    color:antiquewhite
}
#header .text
{
    display: inline;    
}
#box
{
    border: 1px solid #EEEEEE;
    padding: 5px 20px 5px 20px;
}
#box:hover
{
    border: 1px solid thistle;
}
#box:hover .link
{
    color: thistle;
}
#title
{
    font-size: 20px;
    padding: 2px;
}
#to_right
{
    position: relative;
    float: right;
}
#form
{
    padding: 30px 0px 30px 0px;
    margin: 100px 500px 0px 500px;
    background-color: #393E46;
    text-align: center;
}
.flashed
{
    text-align: center;
}
#listable
{
    padding: 50px 0px 50px 0px;
    margin: 50px 100px 100px 100px;
    background-color: #222831;
    text-align: center;
}
#listable .list_object
{
    padding: 20px 0px 20px 0px; 
    background-color: #393E46;
    text-align: center;
}
#listable .list_object:hover
{
    background-color: #393E46;
}
.link
{
    color: #EEEEEE;
    text-decoration: none;
}
.centered_block
{
    padding: 30px 40px 30px 40px;
    margin: 100px 200px 0px 200px;
    background-color:#393E46;
    text-align: center;
}
#header
{
    padding-bottom: 40px;
}


table, td, th {
    border: 3px solid #EEEEEE;
  }
  
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
}