{% extends "base.html" %}

{% block content %}
<div id="form">
    <form method="POST">
        <div class="text">New Name</div><input type="text" value="{{tracker.name}}" name="name">
        <div class="text">New Type</div>
        <select name="type">
            <option value="Numerical">Numerical</option>
            <option value="Multiple Choice">Multiple Choice</option>
            <option value="Timestamp">Timestamp</option>
        </select>
        <div class="text">Settings</div><input type="text" value="{{tracker.settings}}" placeholder="Only for MCQs" name="settings"><br><br>
        <input type="submit" value="Update">
    </form>
    <br>
    <div class="text" style="background-color: #222831; padding: 10px 20px 10px 20px; margin: 0px 30px 0px 30px">CAUTION: Previous tracking record will be deleted</div>
</div>
{% endblock %}